*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* this below code is navbar*/
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    padding: 22px 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.logo{
color: goldenrod;
font-size: 2em;
font-family: Verdana;
user-select: none;
}
ul{
    list-style-type: none;
}
.head{
    
    float: left;
    display: flex;
}
.head a ,.drop-btn{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    transition: 0.5s;
    border-radius: 40px;
}
.head a:hover ,.dropdown:hover .drop-btn{
    background-color: red;
    color: white;
}
/*this is below dropdown*/
.dropdown{
    float: left;
}
.drop-list{
    position: absolute;
    display: none;
    background-color: beige;
    min-width: 130PX;
    text-align: center;
}
.drop-list a{
    float: none;
    display: block;
    color: black;
    padding: 12px 16px;
    text-align: center;
    font-size: 18px;
}
.drop-list a:hover{
    background-color: rgb(rgb(122, 73, 73), rgb(63, 77, 63), rgb(156, 156, 224));
}
.dropdown:hover .drop-list{
    display: block;
}
/*this is mane content*/
.main-content{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 80vh;
}
.main-content .toopic{
    color: white;
    padding: 10px;
    font-size: 20px;
}
h1 span{
    color: gold;
}
.main-content,.ditle-content{
color: white;
padding: 12px;
font-size: 18px;
}
.btn{
    border: none;
    color: white;
    background-color: red;
    padding: 10px 12px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 3px 2px 5px tomato;
    color: yellow;
}
/*this blow code responsve website*/
@media screen and (max-width:600px) {
    .head {
     width: 100%;
     float: none;
     display: flex;
     flex-direction: column;
     background-color: grey;
     margin-left: 5px;
    }
    .head a{
        display: block;
        text-align: center;
        padding: 10px;
        color: aqua;
    }
    .drop-list{
        background-color: black;
        font-size: 18px;
    }
}
